[submodule "root/RingerCore"]
	path = root/RingerCore
	url = https://github.com/wsfreund/RingerCore.git
[submodule "root/TuningTools"]
	path = root/TuningTools
	url = https://github.com/wsfreund/TuningTools.git
[submodule "root/RingerTrigEgammaAnalysis"]
	path = root/RingerTrigEgammaAnalysis
	url = https://github.com/wsfreund/RingerTrigEgammaAnalysis.git
[submodule "root/RootCoreMacros"]
	path = root/RootCoreMacros
	url = https://github.com/wsfreund/RootCoreMacros.git
[submodule "matlab/misc"]
	path = matlab/misc
	url = https://github.com/wsfreund/MatlabRingerMiscellanea.git
[submodule "matlab/+Options"]
	path = matlab/+Options
	url = https://github.com/wsfreund/Options.git
[submodule "matlab/+Utils"]
	path = matlab/+Utils
	url = https://github.com/wsfreund/Utils.git
[submodule "matlab/+GraphUtils"]
	path = matlab/+GraphUtils
	url = https://github.com/wsfreund/GraphUtils.git
