[submodule "root/RingerCore"]
	path = root/RingerCore
	url = https://github.com/wsfreund/RingerCore.git
[submodule "root/TuningTools"]
	path = root/TuningTools
	url = https://github.com/:wsfreund/TuningTools.git
[submodule "root/RingerTrigEgammaAnalysis"]
	path = root/RingerTrigEgammaAnalysis
	url = https://github.com/wsfreund/RingerTrigEgammaAnalysis.git
[submodule "matlab"]
	path = matlab
	url = https://github.com/:wsfreund/MatlabRingerMiscellanea.git
[submodule "root/RootCoreMacros"]
	path = root/RootCoreMacros
	url = https://github.com/wsfreund/RootCoreMacros.git
